*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #2b4c7e;
    padding: 10px 50px 10px 50px;
}

.logo{
    width: 180px;
    height: 50px;
}

.bt-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 35px;
    text-align: center;
    background-color: #dce0e6;
    border-radius: 10px;
}

.bt-login a{
    color: rgb(32, 32, 32);
    text-decoration: none;
    padding: 8px;
}

.main-banner{
    background-image: url("../img/pexels.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
}

.main-title{
    /* background-color: red; */
    color: #000000;
    text-align: center;
    padding: 40px 20px 0 20px;
    font-size: 4ch;
    font-weight: bold;
    text-shadow: #ffffff 3px 2px 3px;
    font-family: Helvetica;
}

.main-info{
    /* background-color: red; */
    display: flex;
    justify-content: end;
    padding-right: 50px;
}

.container-info{
    /* background-color: green; */
    border-radius: 20px;
}

.main-info img{
    width: 400px;
}

.banner{
    background-color: #dce0e675;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.banner section{
    /* background-color: green; */
    text-align: center;
    width: 250px;
    margin: 20px;
}
.banner img{
    width: 150px;
}

/* contact form */

.contact-container {
    background-color: #2b4c7e;
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact-container h2 {
    color: white;
    font-size: 36px;
    margin-bottom: 15px;
}

.contact-container p {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 400px;
    height: 150px;
}

.contact-container input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #2cc76a;
    color: #fff;
    cursor: pointer;
}

/* footer */
footer {
    text-align: center;
    font-weight: bold;
    margin: 0px 0 20px;
}

.footer{
    margin-top: 50px;
}


@media screen and (max-width: 920px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #2b4c7e;
        padding: 10px 20px 10px 20px;
    }
    .main-title{
        font-size: 3ch; 
    }
    .main-info{
        justify-content: center;
        padding-right: 0px;
    }
    .container-info{
        background-color: #dce0e675;
        margin-top: 20px;
    }
    .main-info img{
        width: 300px;
    }
    .bt-whatsapp{
        margin-top: 20px;
    }
    .contact-container textarea {
        width: 300px;
    }
    .contact-container h2 {
        font-size: 32px;
    }
    
    .contact-container p {
        padding: 10px;
        font-size: 16px;
    }
}